<link href="https://cdn.bootcdn.net/ajax/libs/Swiper/5.3.8/css/swiper.min.css" rel="stylesheet">
<script src="https://cdn.bootcdn.net/ajax/libs/Swiper/5.3.8/js/swiper.min.js" defer></script>

{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div class=" Home-page-module-puzzle text-{{ section.settings.align_text }}{% if section.settings.narrow_column %} page-width{% endif %} section-{{ section.id }}-padding">
  <div class="row_P img_p">
    <div class="box">
      <div>
        <img
          src="https://cdn.shopify.com/s/files/1/0642/7059/8262/files/8d02d47a987abdc16e1a101f924e063216549616.jpg?v=1752732119"
          alt=""
          width="100%"
          height="100%"
        >
        <div class="page-width">
          <h1>8-Electrode Body Fat Scale</h1>
          <p>Muscle/Fat/Water% + 28 Body Metrics | Professional-Grade Analysis in 20 Seconds</p>
          <button>
            <a href="" target="_bank">
              <span>Buy Now</span>
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="14" viewBox="0 0 7 14" fill="none">
                  <path d="M1.00001 12.6569L5.94975 7.70711C6.34028 7.31658 6.34028 6.68342 5.94975 6.29289L1.00001 1.34315" stroke="#1A1A1A" stroke-linecap="round"/>
                </svg>
              </span>
            </a>
          </button>
        </div>
      </div>
      <div>
        <div>
          <img
            src="https://cdn.shopify.com/s/files/1/0642/7059/8262/files/3c29868dbea20ca2f040b126ff31666d5d7f1f9c.jpg?v=1752735285"
            alt=""
            width="100%"
            height="100%"
          >
          <div class="content_box">
            <h1>8-Electrode Body Fat Scale</h1>
            <p>Muscle/Fat/Water% + 28 Body Metrics | Professional-Grade Analysis in 20 Seconds</p>
            <button>
              <a href="" target="_bank">
                <span>Buy Now</span>
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="7" height="14" viewBox="0 0 7 14" fill="none">
                    <path d="M1.00001 12.6569L5.94975 7.70711C6.34028 7.31658 6.34028 6.68342 5.94975 6.29289L1.00001 1.34315" stroke="#1A1A1A" stroke-linecap="round"/>
                  </svg>
                </span>
              </a>
            </button>
          </div>
        </div>
        <div>
          <img
            src="https://cdn.shopify.com/s/files/1/0642/7059/8262/files/bd4f7bcd8f33d1972e6cde6039c22bcc785cdd6b.jpg?v=1752735285"
            alt=""
            width="100%"
            height="100%"
          >
          <div class="content_box">
            <h1>Colorful Body Fat Scale</h1>
            <p>Know Your Weight & Track Health Trends – On a Customizable 4.3" Vivid Display</p>
            <button>
              <a href="" target="_bank">
                <span>Buy Now</span>
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="7" height="14" viewBox="0 0 7 14" fill="none">
                    <path d="M1.00001 12.6569L5.94975 7.70711C6.34028 7.31658 6.34028 6.68342 5.94975 6.29289L1.00001 1.34315" stroke="#1A1A1A" stroke-linecap="round"/>
                  </svg>
                </span>
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row_m img_m">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide-f">
          <img
            src="https://cdn.shopify.com/s/files/1/0642/7059/8262/files/afd774a4a62bcc03c21eb8cbf7f907ca258158c8.jpg?v=1752741497"
            alt=""
            width="100%"
            height="100%"
          >
          <div class="content_box">
            <h1>Smart Weight Scale</h1>
            <p>Precisely Know Your Body, Accurately Own Your Progress</p>
            <button>
              <a href="" target="_bank">
                <span>Buy Now</span>
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="7" height="14" viewBox="0 0 7 14" fill="none">
                    <path d="M1.00001 12.6569L5.94975 7.70711C6.34028 7.31658 6.34028 6.68342 5.94975 6.29289L1.00001 1.34315" stroke="#1A1A1A" stroke-linecap="round"/>
                  </svg>
                </span>
              </a>
            </button>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-s">
          <img
            src="https://cdn.shopify.com/s/files/1/0642/7059/8262/files/198ec61a10adeccc4f7f522757992202150811ec.jpg?v=1752741497"
            alt=""
            width="100%"
            height="100%"
          >
          <div class="content_box">
            <h1>Smart Weight Scale</h1>
            <p>Precisely Know Your Body, Accurately Own Your Progress</p>
            <button>
              <a href="" target="_bank">
                <span>Buy Now</span>
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="7" height="14" viewBox="0 0 7 14" fill="none">
                    <path d="M1.00001 12.6569L5.94975 7.70711C6.34028 7.31658 6.34028 6.68342 5.94975 6.29289L1.00001 1.34315" stroke="#1A1A1A" stroke-linecap="round"/>
                  </svg>
                </span>
              </a>
            </button>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-t">
          <img
            src="https://cdn.shopify.com/s/files/1/0642/7059/8262/files/bec3b08b155216ab60074a377d21e6880c64fa73.jpg?v=1752741497"
            alt=""
            width="100%"
            height="100%"
          >
          <div class="content_box">
            <h1>Colorful Body Fat Scale</h1>
            <p>Know Your Weight & Track Health Trends – On a Customizable 4.3" Vivid Display</p>
            <button>
              <a href="" target="_bank">
                <span>Buy Now</span>
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="7" height="14" viewBox="0 0 7 14" fill="none">
                    <path d="M1.00001 12.6569L5.94975 7.70711C6.34028 7.31658 6.34028 6.68342 5.94975 6.29289L1.00001 1.34315" stroke="#1A1A1A" stroke-linecap="round"/>
                  </svg>
                </span>
              </a>
            </button>
          </div>
        </div>
      </div>
      <!-- 如果需要分页器 -->
      <div class="swiper-pagination"></div>

      <!-- 如果需要导航按钮 -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>
{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}
{
  "name": "Home page module puzzle",
  "class": "index-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "divider",
      "label": "显示分割线",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "narrow_column",
      "label": "窄距",
      "default": true
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "上边距",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "下边距",
      "default": 36
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Home page module puzzle",
      "blocks": []
    }
  ]
}
{% endschema %}
<style>
  .Home-page-module-puzzle {
    position: relative;
  }
  .Home-page-module-puzzle > div {
    position: relative;
  }
  .Home-page-module-puzzle .box > div:nth-child(1) {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .Home-page-module-puzzle .box > div:nth-child(1) > div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 18rem;
    width: 120rem;
  }
  .content_box h1,
  .Home-page-module-puzzle .box > div:nth-child(1) > div h1 {
    font-weight: 600;
  }
  .content_box h1,
  .content_box p,
  .Home-page-module-puzzle .box > div:nth-child(1) > div h1,
  .Home-page-module-puzzle .box > div:nth-child(1) > div p {
    padding: 4px 0;
    max-width: 65.5rem;
    margin: 0;
  }
  .content_box button,
  .Home-page-module-puzzle .box > div:nth-child(1) > div button {
    border: none;
    background: transparent;
  }
  .content_box a,
  .Home-page-module-puzzle .box > div:nth-child(1) > div a {
    display: flex;
    gap: 8px;
    align-items: center;
    border-radius: 38px;
    border: 1px solid #000;
    padding: 12px 36px;
    color: #000;
    text-decoration: none;
  }
  .Home-page-module-puzzle .box > div:nth-child(2) {
    padding: 40px 16px;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .Home-page-module-puzzle .box > div:nth-child(2) > div {
    flex: 1;
    position: relative;
  }
  .Home-page-module-puzzle .box > div:nth-child(2) > div .content_box {
    position: absolute;
    top: 3.2rem;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
  }
</style>

{% style %}
  .swiper {
    width: 100%;
    /* height: 100vh; */
    overflow-x: hidden;
    cursor: grab;
    --swiper-theme-color:rgb(0, 0, 0);
    /* 设置Swiper风格 */
    --swiper-navigation-size: 30px;
    /* 设置按钮大小 */
    --swiper-navigation-color:rgb(0, 0, 0);
    /* 单独设置按钮颜色 */
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .swiper-slide-f {
    background-color: aqua;
  }

  .swiper-slide-s {
    background-color: antiquewhite;
  }

  .swiper-slide-t {
    background-color: #ffaa00;
  }
  .swiper-slide .content_box {
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
  }
  .swiper-slide .content_box p {
    width: calc(100% - 16px);
    margin: 0 16px;
  }
  .swiper-button-next,
  .swiper-button-prev{
    display:block!important;
  } 
{% endstyle %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var mySwiper = new Swiper('.swiper', {
      direction: 'horizontal', // 垂直切换选项
      loop: true, // 循环模式选项
      autoplay: {
        delay: 3000, //自动切换的时间
        stopOnLastSlide: false, //滚动到最后一个滑块的时候停止自动切换
        disableOnInteraction: false, //用户操作swiper之后自动切换不会停止，每次都会重新启动autoplay
      },
      effect: 'fade', //切换效果 fade cube coverflow flip cards creative
      // 如果需要分页器
      pagination: {
        el: '.swiper-pagination',
        clickable: true, //可点击分页器滑动滑块
        dynamicBullets: true, //数量很多分页器的小点会被隐藏
      },

      // 如果需要前进后退按钮
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },

      // 如果需要滚动条
      scrollbar: {
        el: '.swiper-scrollbar',
      },
    });
    //鼠标覆盖停止自动切换
    mySwiper.el.onmouseover = function () {
      mySwiper.autoplay.stop();
    };

    //鼠标离开开始自动切换
    mySwiper.el.onmouseout = function () {
      mySwiper.autoplay.start();
    };
  });
</script>
