{%- if section.settings.enable_popup -%}
  {%- style -%}
    .{{ section.id }}_box{
        display:flex;
    }
    .{{ section.id }}_box > div{
        flex:1;
    }
    .{{section.id }}_content{
        /* padding:2.4rem; */
        width:100%;
    }
    .{{section.id }}_content > div{
      width:100%;
    }
    .{{ section.id }}_img img{
        height:100%;
        margin-bottom:0;
        border:none;
    }
    .{{ section.id }}_icon {
      width: 100%;
      text-align: center;
      padding-top:4.8rem;
      display: block;
    }
    .{{ section.id }}_title p{
      margin: 0;
      font-size: 2.4rem;
      font-weight: 600;
      padding:6.4rem 2.4rem 0 2.4rem;
      color: #333;
      text-align: center;
    }
    .{{ section.id }}_mainText p{
      color: #333;
      margin:0;
      font-size: 1.6rem;
      font-weight: 500;
      padding:.8rem 2.4rem 2.4rem 2.4rem;
      text-align: center;
    }
    .{{ section.id }}_email > div{
      position: relative;
      padding: 0 2.4rem 0 2.4rem;
    }
    .{{ section.id }}_email > div .field__button {
      top: 56px;
      width: 100%;
      border-radius: 59px;
      background: #1A1A1A;
    }
    .{{ section.id }}_email > div .field__button > .svg-wrapper{
      width: 100%;
      height: 100%;
      color: #fff;
      padding: .8rem 4.8rem;
    }
    .{{ section.id }}_email .field__label,
    .{{ section.id }}_email .field__input:not(:placeholder-shown) ~ .field__label,
    .{{ section.id }}_email .field__input:focus ~ .field__label{
      left:4.8rem;
    }
    .{{ section.id }}_email > div .field:hover.field:after,
    .{{ section.id }}_email > div .field:after{
      box-shadow:none;
    }
    .{{ section.id }}_email .field__input{
      border-radius: 59px;
      background: #F2F2F2;
      padding-left: 4.8rem;
    }
    .desktop-image { display: block; }
    .mobile-image { display: none; }
    .{{ section.id }}_email .form__message{
      margin-top: 6rem;
    }
    @media screen and (max-width: 750px) {
      .{{ section.id }}_box{
        flex-direction: column;
      }
      .{{ section.id }}_icon{
        display: none;
      }
      .{{ section.id }}_title p{
        padding:.4rem 2.4rem 0 2.4rem;
        font-size:2rem;
      }
      .{{ section.id }}_mainText p{
        font-size:1.2rem;
        padding:.8rem 2.4rem .4rem 2.4rem;
      }
      .popup-modal{
        padding:2.4rem;
      }
      .desktop-image { display: none; }
      .mobile-image { display: block; }
      .{{ section.id }}_email > div{
        padding: 0 2.4rem 10rem 2.4rem;
      }
      .{{ section.id }}_email .form__message{
        margin-top: -.5rem;
        font-size: 1.0rem;
      }
    }
  {%- endstyle -%}
  <div
    id="popup-{{ section.id }}"
    class="popup-modal hidden"
    aria-hidden="true"
    data-popup-delay="{{ section.settings.delay }}"
    data-popup-duration="{{ section.settings.duration }}"
    role="dialog"
  >
    <div
      class="popup-modal__content text-{{ section.settings.align_text }}"
      style="max-width: {{ section.settings.max_width }}px;"
    >
      <button type="button" class="popup-modal__close" aria-label="">
        {% comment %} {% render %} {% endcomment %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
          <path d="M9.13128 8L16 1.13128L14.8687 0L8 6.86872L1.13144 0L0 1.13128L6.86872 8L0 14.8687L1.13144 16L8 9.13128L14.8687 16L16 14.8687L9.13128 8Z" fill="#E6E6E6"/>
        </svg>
      </button>

      <div class="popup-content rte {{ section.id }}_box">
        {% comment %} {{ section.settings.content }} {% endcomment %}
        <div class="{{ section.id }}_img">
          {% comment %} {{ section.settings.image_url }} {% endcomment %}
          {%- if section.settings.image_url != blank -%}
            {{ section.settings.image_url | image_url: width: 2048 | image_tag: alt: '', loading: 'lazy',class: 'desktop-image' }}
          {%- else -%}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
          {%- if section.settings.image_mobile_url != blank -%}
            {{ section.settings.image_mobile_url | image_url: width: 2048 | image_tag: alt: '', loading: 'lazy',class: 'mobile-image' }}
          {%- else -%}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </div>
        <div class="{{section.id }}_content">
          <span class="{{ section.id }}_icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="126" height="20" viewBox="0 0 126 20" fill="none">
              <path d="M92.3642 0H88.9035V19.9997H92.3642V0Z" fill="#0D0D0D"/>
              <path d="M95.7132 0H109.209V3.1524H99.1752V8.46611H107.786V11.6313H99.1752V19.9997H95.7132V0Z" fill="#0D0D0D"/>
              <path d="M112.56 0H126V3.15589H116.006V8.47774H124.353V11.6336H116.006V16.8438H126V19.9997H112.56V0Z" fill="#0D0D0D"/>
              <path d="M25.5536 0H22.0929V19.9997H25.5536V0Z" fill="#0D0D0D"/>
              <path d="M28.9306 19.9997L28.9027 0L41.9391 12.2315V0H45.344V19.9857L32.2948 7.74024L32.2808 19.9997H28.9306Z" fill="#0D0D0D"/>
              <path d="M68.4286 7.70302C68.7453 9.02447 68.7918 10.3506 68.5683 11.6802C68.3448 12.9551 67.8885 14.1462 67.1994 15.2525C66.5196 16.3692 65.6535 17.3091 64.6012 18.0722C63.5116 18.8632 62.3103 19.4169 60.9984 19.7333C59.676 20.0404 58.349 20.0823 57.0184 19.8589C55.7426 19.6356 54.5506 19.1843 53.4436 18.5049C52.3261 17.8163 51.3855 16.9462 50.6219 15.8958C49.8303 14.8163 49.2762 13.6158 48.9596 12.2955C48.6523 10.9741 48.6104 9.65262 48.8339 8.33233C49.0574 7.04811 49.509 5.85229 50.1888 4.74605C50.878 3.63863 51.7487 2.69989 52.801 1.92634C53.8813 1.13533 55.0826 0.586276 56.4038 0.279179C57.7262 -0.0372241 59.0474 -0.083754 60.3698 0.139589C61.6549 0.362933 62.8504 0.818925 63.9586 1.50757C65.0668 2.1869 66.0074 3.05236 66.7803 4.10393C67.5719 5.19273 68.1213 6.3932 68.4286 7.70418M60.2592 16.6344C62.0938 16.197 63.5081 15.178 64.5046 13.5774C65.4917 11.9768 65.7711 10.2656 65.3427 8.44168C64.905 6.6084 63.8853 5.19506 62.2847 4.19932C60.6829 3.21289 58.9694 2.93371 57.1453 3.36178C55.3107 3.79916 53.8952 4.81817 52.9 6.41879C51.9128 8.01942 51.6335 9.73172 52.0618 11.5545C52.4995 13.3878 53.5192 14.8023 55.121 15.7969C56.7228 16.7833 58.4351 17.0625 60.2604 16.6344" fill="#0D0D0D"/>
              <path d="M72.057 0H75.533V16.5414H85.5533V19.9997H72.057V0Z" fill="#0D0D0D"/>
              <path d="M18.7427 0L11.1017 10.8519V19.9997H7.64095V10.8519L0 0H4.23023L9.37076 7.29937L14.5101 0H18.7427Z" fill="#0D0D0D"/>
            </svg>
          </span>
          <span class="{{ section.id }}_title">
            {{ section.settings.title }}
          </span>
          <span class="{{ section.id }}_mainText">
            {{ section.settings.mainText }}
          </span>
          <span class="{{ section.id }}_email">
            <div class="">
              {% form 'customer', class: 'newsletter-form' %}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div
                  class="newsletter-form__field-wrapper{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style=""
                  {% endif %}
                >
                  <div class="field">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="field__input"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="Newsletter-error--{{ section.id }}"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="Newsletter-success--{{ section.id }}"
                      {% endif %}
                      placeholder="{{ 'newsletter.label' | t }}"
                      required
                    >
                    <label class="field__label" for="NewsletterForm--{{ section.id }}">
                      {{ 'newsletter.label' | t }}
                    </label>
                    <button
                      type="submit"
                      class="newsletter-form__button field__button"
                      name="commit"
                      id="Subscribe"
                      aria-label="{{ 'newsletter.button_label' | t }}"
                    >
                      <span class="svg-wrapper">
                        {% comment %} {{- 'icon-arrow.svg' | inline_asset_content -}} {% endcomment %}
                        {% comment %}
                          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="16" viewBox="0 0 22 16" fill="none">
                            <path d="M19.565 0H2.43497C1.09269 0 0 1.0801 0 2.40691V13.5931C0 14.9199 1.09269 16 2.43497 16H19.565C20.9073 16 22 14.9199 22 13.5931V2.40691C22 1.0801 20.9073 0 19.565 0ZM20.539 13.5931C20.539 14.1226 20.1007 14.5559 19.565 14.5559H2.43497C1.89927 14.5559 1.46098 14.1226 1.46098 13.5931V2.40691C1.46098 1.87739 1.89927 1.44414 2.43497 1.44414H19.565C20.1007 1.44414 20.539 1.87739 20.539 2.40691V13.5931Z" fill="#808080"/>
                            <path d="M18.2897 3.82401L11 8.37007L3.71027 3.82401C3.36937 3.6104 2.91891 3.71268 2.70278 4.04965C2.48668 4.38661 2.59016 4.83189 2.93105 5.04553L10.6012 9.82929C10.723 9.90452 10.8569 9.94061 10.9908 9.94061H11.0152C11.1491 9.94061 11.283 9.90452 11.4047 9.82929L19.0749 5.04553C19.4158 4.83192 19.5193 4.38664 19.3032 4.04965C19.081 3.70967 18.6306 3.6104 18.2897 3.82401Z" fill="#808080"/>
                          </svg>
                        {% endcomment %}
                        Get my offer
                      </span>
                    </button>
                  </div>
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
                      <span class="svg-wrapper">
                        {{- 'icon-error.svg' | inline_asset_content -}}
                      </span>
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3
                    class="newsletter-form__message newsletter-form__message--success form__message"
                    id="Newsletter-success--{{ section.id }}"
                    tabindex="-1"
                    autofocus
                  >
                    <span class="svg-wrapper">
                      {{- 'icon-success.svg' | inline_asset_content -}}
                    </span>
                    {{- 'newsletter.success' | t }}
                  </h3>
                {%- endif -%}
              {% endform %}
            </div>
            {% comment %}
              <div class="{{ section.id }}_button">
                <button
                  type="submit"
                  class="newsletter-form__button field__button"
                  name="commit"
                  id="Subscribe"
                  aria-label="{{ 'newsletter.button_label' | t }}"
                >
                  <span class="svg-wrapper">
                    {% comment %} {{- 'icon-arrow.svg' | inline_asset_content -}} {% endcomment %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="16" viewBox="0 0 22 16" fill="none">
                      <path d="M19.565 0H2.43497C1.09269 0 0 1.0801 0 2.40691V13.5931C0 14.9199 1.09269 16 2.43497 16H19.565C20.9073 16 22 14.9199 22 13.5931V2.40691C22 1.0801 20.9073 0 19.565 0ZM20.539 13.5931C20.539 14.1226 20.1007 14.5559 19.565 14.5559H2.43497C1.89927 14.5559 1.46098 14.1226 1.46098 13.5931V2.40691C1.46098 1.87739 1.89927 1.44414 2.43497 1.44414H19.565C20.1007 1.44414 20.539 1.87739 20.539 2.40691V13.5931Z" fill="#808080"/>
                      <path d="M18.2897 3.82401L11 8.37007L3.71027 3.82401C3.36937 3.6104 2.91891 3.71268 2.70278 4.04965C2.48668 4.38661 2.59016 4.83189 2.93105 5.04553L10.6012 9.82929C10.723 9.90452 10.8569 9.94061 10.9908 9.94061H11.0152C11.1491 9.94061 11.283 9.90452 11.4047 9.82929L19.0749 5.04553C19.4158 4.83192 19.5193 4.38664 19.3032 4.04965C19.081 3.70967 18.6306 3.6104 18.2897 3.82401Z" fill="#808080"/>
                    </svg>
                  </span>
                </button>
              </div>
            {% endcomment %}
          </span>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // 获取弹窗元素
      const popup = document.getElementById('popup-{{ section.id }}');
      const closeBtn = popup.querySelector('.popup-modal__close');

      // 延迟显示
      setTimeout(() => {
        popup.classList.remove('hidden');
      }, {{ section.settings.delay }} * 1000);

      // 关闭功能
      closeBtn.addEventListener('click', () => {
        popup.classList.add('hidden');
      });

      // 关闭弹窗当点击背景
      popup.addEventListener('click', (e) => {
        if (e.target === popup) {
          popup.classList.add('hidden');
        }
      });
    });
  </script>

  <style>
    /* 弹窗样式 */
    .popup-modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      z-index: 9999;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .popup-modal.hidden {
      display: none;
    }

    .popup-modal__content {
      background: white;
      {% comment %} padding: 40px; {% endcomment %}
      position: relative;
      {% comment %} border-radius: 4px; {% endcomment %}
    }

    .popup-modal__close {
      position: absolute;
      top: 15px;
      right: 15px;
      background: none;
      border: none;
      font-size: 20px;
      cursor: pointer;
    }
  </style>
{%- endif -%}

{% schema %}
{
  "name": "弹窗设置",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_popup",
      "label": "启用弹窗",
      "default": true
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "弹窗内容",
      "default": "<p>欢迎访问我们的商店！订阅即可获得9折优惠</p>"
    },
    {
      "type": "image_picker",
      "id": "image_url",
      "label": "添加左侧图片"
    },
    {
      "type": "image_picker",
      "id": "image_mobile_url",
      "label": "添加左侧图片(手机端)"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "右侧标题title"
    },
    {
      "type": "richtext",
      "id": "mainText",
      "label": "右侧正文mainText"
    },
    {
      "type": "select",
      "id": "align_text",
      "label": "文字对齐方式",
      "default": "center",
      "options": [
        { "value": "left", "label": "左对齐" },
        { "value": "center", "label": "中间对齐" },
        { "value": "right", "label": "右对齐" }
      ]
    },
    {
      "type": "range",
      "id": "delay",
      "min": 1,
      "max": 60,
      "step": 1,
      "unit": "秒",
      "label": "显示延迟",
      "default": 5
    },
    {
      "type": "range",
      "id": "duration",
      "min": 1,
      "max": 60,
      "step": 1,
      "unit": "秒",
      "label": "弹出时间",
      "default": 15
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 300,
      "max": 900,
      "step": 50,
      "unit": "px",
      "label": "最大宽度",
      "default": 900
    },
    {
      "type": "header",
      "content": "间距设置"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "上边距",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "下边距",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "弹出窗口",
      "category": "弹窗"
    }
  ]
}
{% endschema %}
